# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Django
db.sqlite3
*.log
local_settings.py

# Environment
.env
.venv/
venv/
env/

# IDE
.idea/
.vscode/
*.swp
.DS_Store

# Static collected files
staticfiles/
